<section id="pixel-perfect">
    <div class="container-fluid" class="pixel-perfect-bg">
        <div class="row d-flex justify-content-between">
            <div class="col-md-5 col-sm-12 pb-3 pt-3">
                <div class="description">
                <p>Egyedi digitális élmények</p>
                <h1>Pixel Perfect kialakítást és tiszta</h1>
                <h1>kódot kézbesítünk az Ön</h1>
                <h1>számára</h1>
                
                <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Ipsum voluptas commodi obcaecati similique illo consequuntur nihil deserunt consequatur expedita provident, 
                molestias laborum fugit voluptatem? Natus odio in officiis, magnam quibusdam a nisi totam officia ut ipsa quaerat nostrum minus 
                sequi, inventore aut quod quia voluptatem quidem, molestias aliquam. Architecto, consequatur?</p>
                <button (click)="openUrl('https://google.com')" class="mt-3">
                    <img src="assets/icons/play_white.png" class="mr-2" alt="">    
                    TOVÁBB OLVASOM
                </button>
                </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 d-flex justify-content-sm-center justify-content-md-end direction-row ">
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-xs-12 d-flex justify-content-center">
                        <figure class="m-0 p-0">
                            <img src="assets/img/experience.jpg" class="img-fluid img-card" alt="image-experience">
                        </figure>
                    </div>
                    <div class="col-sm-6 col-xs-12 d-flex justify-content-center">
                        <div class="box">
                            <h3>Mindig ügyfeleinkkel maradunk, és tiszteletben tartjuk vállalkozásukat.</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque, quos ipsa eius officiis, obcaecati quisquam aliquid, inventore alias id expedita praesentium! Commodi pariatur quos perspiciatis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>