<section id="features">
    <div class="container-fluid features d-flex justify-content-center">
        <div class="row justify-content-around">
            <div class="col-12 text-center mb-5">
                <h4 class="mt-3">Gyönyörű digitális termékeket szállítunk</h4>
                <h1>Kiváló minőségű és költséghatékony</h1>
                <h1>web és szoftverfejlesztési szolgáltatásokat nyújtunk</h1>
            </div>
            <div class="col-md-4 col-lg-3 box">
                <div class="row h-100">
                    <div class="col-3">
                        <div class="row d-flex justify-content-around">
                            <img src="assets/icons/bulb_gray.png" alt="asd">
                            <div class="vl"></div>
                        </div>
                    </div>
                    <div class="col-9">
                        <h3>Digitális márkaépítés</h3>
                        <p>Segíthetünk abban, hogy világosan</p>
                        <p>kommunikálják azt, amivel </p>
                        <p>foglalkoznak.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 box">
                <div class="row h-100">
                    <div class="col-3">
                        <div class="row d-flex justify-content-around">
                            <img src="assets/icons/global_gray.png" alt="asd">
                            <div class="vl"></div>
                        </div>
                    </div>
                    <div class="col-8">
                        <h3>Web interakció</h3>
                        <p>Webhelyeink jól néznek ki, de minden oldalnak egyértelműen meghatározott konverziós célja van.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 box">
                <div class="row h-100">
                    <div class="col-3">
                        <div class="row d-flex justify-content-around">
                            <img src="assets/icons/brush_gray.png" alt="asd">
                            <div class="vl"></div>
                        </div>
                    </div>
                    <div class="col-8">
                        <h3>Grafikai tervezés</h3>
                        <p>Kreativitásunkat összekapcsoljuk </p>
                        <p>szilárd marketing és márkanév</p>
                        <p>elvekkel.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>