<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light navbar-fixed-top" >
    <a class="navbar-brand" href="https://www.webstar.hu/" target="_blank">
      <img src="assets/img/logo_color.png" width="120px" class="img-fluid" alt="webstar-logo">
    </a>
    <a class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="material-icons">menu</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ml-auto navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="#">Bevezető</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#employees">Munkatársak</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">rólunk</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center direction-row" href="#">
            <div class="vl mr-2"></div>
            <img class="img-fluid" src="assets/icons/search_black@2x.png" alt="">
            <div class="vl ml-2"></div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="assets/icons/facebook_black@2x.png" class="img-fluid" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="assets/icons/twitter_black@2x.png" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="assets/icons/dribbble_black@2x.png" alt="">
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
