<section id="slider">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row"> 
                    <div class="col-md-6 d-none d-md-flex d-lg-flex col-sm-12 col-xs-12 carousel-first-background">
                        <h1>mi már</h1>
                        <h1>várunk</h1>
                        <h1>téged</h1>
                        <p><del>csatlakozz te is vidám csapatunkhoz           </del></p>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 carousel-first-image"></div>          
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/slider_2.jpg"alt="Second slide">
            </div>
            <div class="carousel-item">
                <img  src="assets/img/slider_3.jpg" alt="Third slide">
            </div>
        </div>
    </div>
</section>